<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Genre</title>
    <link rel = "stylesheet" href="/static/styles.css">

</head>
<body id="admin">
    <h2>Librarian Dashboard</h2>
    <button type="button"><a href='/admin_dashboard'>Home</a></button>
    <button type="button"><a href='/issued_books'>Books Issued</a></button>
    <button type="button"><a href='/books'>Books</a></button>
    <button type="button"><a href='/user_list'>View Users</a></button>
    <button type="button"><a href='/view_profile'>View Profile</a></button>
    <button type="button"><a href="/stats">Stats</a></button>
    <button type='submit'><a href="/logout">Logout</a></button>
    <h2>Add New Genre</h2>
    <form action="/add_genre" method="POST">
        <label for="name">Genre:</label>
        <input type="text" name="genre" required>
        <label for="description">Description:</label>
        <input type="text" name="description">
        <button type="submit">Add Genre</button>
    </form>
</body>
</html>