<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body id="admin">
    <h1>eLibrary</h1>
    <button type="button"><a href='/admin_dashboard'>Home</a></button>
    <button type="button"><a href='/issued_books'>Books Issued</a></button>
    <button type="button"><a href='/books'>Books</a></button>
    <button type="button"><a href='/user_list'>View Users</a></button>
    <button type="button">View Profile</button>
    <button type="button"><a href="/stats">Stats</a></button>
    <button type='submit'><a href="/logout">Logout</a></button>
    <hr>
    <h2>Change Password</h2>
    <form action="/change_admin_password" method="post">
        <label for="current_password">Current Password:</label>
        <input type="password" id="current_password" name="current_password" required><br><br>
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required><br><br>
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>
        <button type="button" style="background-color: rgb(227, 134, 134);"><a href="/view_profile">Back</a></button>
        <button type="submit">Change Password</button>
    </form>
</body>
</html>
