<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel = "stylesheet" href="/static/styles.css">

</head>
<body id="login">
    <h1>Library Management System</h1>
    <p>Login as,</p>
    <button type = 'button'><a href ='/login/admin_login'>Librarian</a></button>
    <a>User</a>
    <hr><hr>
    <h3>Change Password</h3>
    <form action="/login/forgot_password" method="post">
        <label name="email">Enter your registered Email-ID:</label>
        <input type="text" name="email" required>
        <br>
        <label name="password">New Password</label>
        <input type="text" name="new_password" required>
        <br>
        <button type="submit">Change</button>
    </form>
    
</body>
</html>