<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel = "stylesheet" href="/static/styles.css">
</head>
<body id="login">
    <h1>Library Management System</h1>
    <br><br>
    <button type = 'button' style="background-color: rgb(112, 112, 225); "><a href ='/login/admin_login'>Librarian</a></button>
    <br><br>
    <button type="button" style="background-color: rgb(34, 242, 238);"><a href = '/login'>User</a></button>
    <br>
    <p>New User ? <a href="/register">Register Here</a></p>
</body>
</html>