<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel = "stylesheet" href="/static/styles.css">
</head>
<body id="admin">
    <h2>Librarian Dashboard</h2>
    <button type="button"><a href='/admin_dashboard'>Home</a></button>
    <button type="button"><a href='/issued_books'>Books Issued</a></button>
    <button type="button"><a href='/books'>Books</a></button>
    <button type="button"><a href='/user_list'>View Users</a></button>
    <button type="button"><a href='/view_profile'>View Profile</a></button>
    <button type="button">Stats</button>
    <button type='submit'><a href="/logout">Logout</a></button>
    <hr>
    <h2>Section Distribution</h2>
    <div>{{plot | safe}}</div>
    <h2>Number of Requests per Book</h2>
    <div>{{graph | safe}}</div>
</body>
</html>