<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel = "stylesheet" href="/static/styles.css">

</head>
<body id="admin" style="background-color: rgb(235, 238, 206);">
    <button type="button" style="background-color: rgba(229, 106, 106, 0.896);"><a href="/user_list">Back</a></button>
    <h2>Basic Information</h2>
    <img src = "/{{user.profile_photo_path}}" alt = 'Profile Photo' style="max-width: 150px; height: auto;">
    <p>Full Name : {{user.full_name}}</p>
    <p>Username : {{user.username}}</p>
    <p>Email ID : {{user.email}}</p>
    <p>Contact Number : {{user.mob_num}}</p>
    <div style="width: 40%; margin:0 auto">{{plot | safe}}</div>
</body>
</html>